<section class="container">
  <h3 class="job__title">{{job.title}}</h3>
  <h4 class="job__skills">{{job.skills}}</h4>
  <h4 class="job__salary">{{job.salary}}</h4>
  <p class="job__description">{{job.description}}</p>
  <p class="job__email">{{job.email}}</p>
  <!-- If the user is logged in, render the content -->
  {{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each posts as |post|}}
{{/each}}
  </section>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a class="redirect--link" href="/login">You must login to see listings</a>
{{/if}}