{{#each jobsData as |job| }}
<div class="row mb-4 job">
  <div class="col-md-5">
    <h2>
      <a href="/job/{{job.id}}">{{job.title}}</a>
    </h2>
    <p>Created by {{job.user.name}}</p>
    <p>
      Contact: {{job.email}}
    </p>
  </div>
  <div class="col-md-7">
    <p>
      {{job.description}}
    </p>
    <p>
      {{job.skills}}
    </p>
  </div>
</div>
{{/each}}