{{#each jobsData as |job| }}
<div class="div--listing">
  <div class="col-md-5">
    <h2 class="h2--listing">{{job.title}}</h2>
    <p class="p--listing">Created by {{job.user.name}}</p>
    <p class="p--listing">
      Contact: {{job.email}}
    </p>
  </div>
  <div class="col-md-7">
    <p class="listing__description">
      {{job.description}}
    </p>
    <p class="listing__description">
      {{job.skills}}
    </p>
  </div>
</div>
{{/each}}